PDL
PDL-CCS-*
*~
.*~
*.o
*.a
*.so
*.bs
*.html
*.old
*.gz
tmp
README.txt
pm_to_blib
blib
Makefile
pdl-core
META.yml
MYMETA.*

CCS/IO/t/ccs.*
CCS/IO/t/dense.*
CCS/IO/t/ccs3.*
CCS/IO/t/dense3.*

CCS/MatrixOps/*.xs
CCS/MatrixOps/*.c
CCS/MatrixOps/*.pm

CCS/Old/Old.xs
CCS/Old/Old.c
CCS/Old/Old.pm

CCS/Ops/*.xs
CCS/Ops/*.c
CCS/Ops/*.pm

CCS/Ufunc/*.xs
CCS/Ufunc/*.c
CCS/Ufunc/*.pm

CCS/Ufunc/*.c
CCS/Ufunc/*.pm
CCS/Ufunc/*.xs

CCS/Utils/*.c
CCS/Utils/*.pm
CCS/Utils/*.xs

**/*.o
**/pp-*.c
